@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

header {
    width: 100%;
    text-align: center;
    padding: 10px 0 55px 0;
    height: auto;
    gap: 20px;
    border-bottom: 2px solid #522205;
    color: #3e1a02;
}

.logo-container img {
    width: 360px;
    height: auto;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
}

/*button animation code*/
li {
    position: relative;
    overflow: hidden;
    border: 2px solid #522205;
    padding: 20px;
    border-radius: 10px;
    color: #522205;
    transition: color 0.3s ease;
}

li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #522205;
    z-index: -1;
    transition: width 0.3s ease;
}

li:hover {
    color: white;
    cursor: pointer;
}

li:hover::before {
    width: 100%;
}
