header {
    width: 100%;
    display: flex;
    justify-content: center;   /* centers horizontally */
    align-items: center;       /* centers vertically */
    padding: 10px
}

.logo-container img {
    width: 360px;      /* adjust this number to make it bigger/smaller */
    height: auto;     /* keeps aspect ratio clean */
}
